body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  font-weight:300;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
 font-family: 'Open Sans', sans-serif;
 font-weight:500;
 font-style:italic;
 margin-top:-10px;
 margin-bottom:30px;
}

p {
  line-height: 120%;
}

p + p {
  margin-top:30px;
}

li {
  line-height: 150%;
  margin-left:30px;
}

.title {
  padding: 4px 4px 4px 6px;
  margin:  10px 20px 20px 10px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: x-large;
}

.script {
  padding: 4px 4px 4px 6px;
  margin:  10px 20px 20px 10px;
}

text {
  white-space: pre;
  border: 1px;
}

example {
  white-space: pre;
  color: #900;
}
