body {
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  font-weight:300;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
 font-family: 'Open Sans', sans-serif;
 font-weight:500;
 font-style:italic;
 margin-top:-10px;
 margin-bottom:30px;
}

p {
  line-height: 120%;
}

p + p {
  margin-top:30px;
}

li {
  line-height: 150%;
  margin-left:30px;
}
