project/lib_managed/
project/boot/
project/plugins/lib_managed/
project/plugins/src_managed/
.idea/*
.scala_dependencies
bin/
*.svn*
.classpath
.project
.manager
*.class
.svnignore
target*
.settings
*.iml
*.ipr
*.iws
out/*
classes/*
classes-extra/*
classes-hotfix/*
classes-tests/*
infinitest.settings
resources/migration/talend/DealInput_0.1.zip
data/*
specs/bin/*
specs/saved reports/*
lift/*
*/.idea/*
*ErrorLogs/
*RecentChanges/
test/specs/fitnesse.*
test/specs/fitnesse_debug.*
test/specs/FitNesseRoot/files/testResults/
junit*
/log_errors.log
/log_info.log