.DS_Store

.idea
**/target
*.iml
.jvmopts
.vscode
.metals
.bloop
project/project
.bsp
_site

**/*.hydra
hydra.log
hydra-timings.csv
project/hydra.sbt
project/metals.sbt
/out

lowered.hnir

.js
.jvm
.native
