**/.DS_Store
guide/.DS_Store
specs2_2.12.iml
.hydra
.idea
guide/target
target
pom
analysis
cats
core
common
gwt
html
examples
form
fp
junit
markdown
matcher
matcher-extra
mock
scalacheck
scalaz
shapeless
