sudo: false

language: scala

scala:
  - 2.10.4
  - 2.11.4

jdk:
  - oraclejdk7

branches:
    - specs2-three

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

script: 
  - sbt -sbt-version 0.13.7 -scala-version $TRAVIS_SCALA_VERSION 'test-only -- xonly exclude travis'
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/6f43e8d682579a80ef5f
    on_success: always
    on_failure: always
    on_start: false
