/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-default ins { background-image:url("../../../images/check.png"); background-color:white; }
.jstree-default a .jstree-icon { background-position:-56px -19px; }
.jstree-default .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-leaf > ins { background-position:-36px 0; }

