body {
  margin: 0 5px 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #3D3B3B;	
}
.spec {
  margin: 30px 5px 0 10px;
}
.text-flow {
  white-space: pre-wrap;	
}
pre.prettyprint.prettyprinted { 
  margin: 1px;
  padding: 2px; 
  border: 0px;
}

s2 {
  font-weight: bold;
  font-style: italic;
  font-family: "Helvetica";
}

h1 {
  color: #5981B4;
  font-size: 28px;
  font-weight: bold;
  padding: 3px 3px 3px 6px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.65);
  border: 2px solid rgb(178, 189, 183);
  background-color: #f5f5f5;
}
h2 {
  color: #CE5B80;
  background-color: #F6F3F3;
  font-size: 24px;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px 3px 3px 6px;
  border: 1px solid #999;
  margin-top: 20px;
}
h3 {
  color: #3A6AAC;
  background-color: #F6F3F3;
  font-size: 22px;
  padding: 0px 2px 0px 6px;
  border: 1px solid #aaa;
  margin-top: 15px;
}
h4 {
  color: #3A6AAC;
  background-color: #FFFDFD;
  font-size: 18px;
  padding: 4px 4px 4px 6px;
  margin: 15px 4px 10px 4px;
  border: 1px solid #bbb;
}
h5 {
  color: #3A6AAC;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 4px 0px 6px;
}
h6 {
  font-style: italic;
  color: #3A6AAC;
  font-size: 14px;
  padding: 0px 4px 0px 6px;
}
text {
  white-space: pre-wrap;
}
.success_icon {
  
}
.example {
}

.success {
}
.failure {
}
.error {
}
.skipped {
}
ul {
  list-style-type: disc;
}
li.example.success {
  list-style-image: url(../images/icon_success_sml.gif);
  padding-left: 5px;
}
li.example.failure {
  list-style-image: url(../images/icon_failure_sml.gif);
  padding-left: 5px;
}
li.example.error {
  list-style-image: url(../images/icon_error_sml.gif);
  padding-left: 5px;
}
li.example.skipped {
  list-style-image: url(../images/icon_skipped_sml.gif);
  padding-left: 5px;
}
li.example.pending {
  list-style-image: url(../images/icon_pending_sml.gif);
  padding-left: 5px;
}
li.example.info {
  list-style-image: url(../images/icon_info_sml.gif);
  padding-left: 5px;
}
li.toggle {
  list-style-image: url(../images/collapsed.gif);
  padding-left: 10px;
  padding-right: 0px
}
li.notoggle {
  list-style-type: none;
  padding-left: 12px;
  padding-right: 0px
}
message.failure {
  padding: 1px 3px 2px 3px;
  background-color: rgba(255, 255, 153, 0.75);
}
message.error {
  padding: 1px 3px 1px 3px;
  background-color: rgba(255, 153, 153, 0.30);
}
li.step.error {
  list-style-image: url(../images/icon_error_sml.gif);
  padding-left: 5px;
}

stacktrace.failure {
  margin-left:10px;
  padding: 1px 3px 1px 3px;
  background-color: rgba(255, 255, 153, 0.75);
}
stacktrace.error {
  margin-left:10px;
  padding: 2px 3px 2px 3px;
  background-color: rgba(255, 153, 153, 0.30);
}

table {
  table-layout: auto;
  width: auto;
  background: #EEEEEE;
  border-collapse: collapse;
  empty-cells: show;
  margin: 20px 5px 20px 5px;
  padding: 0px;

  border: solid #AAAAAA;
  border-width: 1px 0px 0px 1px;

  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.65);

  font-size: 0.9em;
}

table th {
  border: solid #AAAAAA;
  border-width: 1px 1px 1px 1px;
  padding: 2px 6px 2px 6px;
}
table th .header {
  border: solid #AAAAAA;
  border-width: 1px 1px 1px 1px;
  padding: 2px 6px 2px 6px;
}
table td {
  border: solid #AAAAAA;
  border-width: 1px 1px 1px 1px;
  padding: 5px 5px 5px 5px;
}
table .success {
  background-color: #CCFFCC;
}
table .failure {
  background-color: #FFFF99;
}
table .error {
  background-color: #FF9999;
}
table .skipped {
  background-color: #DDDDDD;
}
table .info {
  background-color: #FFFFFF;
}
table .success {
  background-color: #CCFFCC;
}
table tr.even {
  background-color: #FFFFFF;
}
table tr.odd {
  background-color: #FFFFFF;
}
table td .none {
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
}
div .tabbertab table {
  border: 0;
  border-width: 0;
  border-radius: 0;
  border-color: none;
  border-style: none;
  box-shadow: none;
}

.issues-toggle {
  font-style: italic;
  color: #5981B4;
  font-size: 16px;
}
pre {
  border: 0px;
}