<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link href="$baseDir$/css/opensans-fonts.css" rel="stylesheet" type="text/css">
    <link href="$baseDir$/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css">
    <link href="$baseDir$/css/960.css" rel="stylesheet" type="text/css" media="all"  />
    <link href="$baseDir$/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="$baseDir$/css/prettify.css" rel="stylesheet" type="text/css"/>
    <link href="$baseDir$/css/specs2.css" rel="stylesheet" type="text/css"/>
    <link href="$baseDir$/css/specs2-user.css" rel="stylesheet" type="text/css"/>
    <link href="$baseDir$/css/tabber.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" src="$baseDir$/javascript/tabber.js"></script>
    <script type="text/javascript">
      document.write('<style type="text/css">.tabber{display:none;}</style>');
      var tabberOptions = {'manualStartup':true,'addLinkId': true};
    </script>
    <script src="$baseDir$/javascript/run_prettify.js" type="text/javascript"></script>
    <script src="$baseDir$/javascript/specs2.js" type="text/javascript"></script>
    <script src="$baseDir$/javascript/specs2-user.js" type="text/javascript"></script>
    <script src="$baseDir$/javascript/tipuesearch_set.js" type="text/javascript"></script>
    <script src="$baseDir$/javascript/tipuesearch_content.js" type="text/javascript"></script>
    <script src="$baseDir$/javascript/tipuesearch.js" type="text/javascript"></script>

</head>
<body>

<div class="container">
<div class="fifth">
$toc$</div>
<div class="fourfifth">
$if(issues)$
<h1>$title$
    <a href="#" onclick="hideByClass('ok');hideById('onlyIssuesLink');showById('allElementsLink')"><span id=onlyIssuesLink class="issues-toggle"> (issues only)</span></a>
    <a href="#" onclick="showByClass('ok');hideById('allElementsLink');showById('onlyIssuesLink')"><span id=allElementsLink style="display:none" class="issues-toggle"> (all)</span></a>
</h1>
$else$
<h1>$title$</h1>
$endif$

$body$

<form action="tipue.html">
  <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
</form>
<div id="tipue_search_content"></div>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch({
    'show': 6
  });
});
</script>

</div>
</div>
</body>

</html>
